img{
    margin-top: 50px;
   width: 200px;
   height: 150px;
   position: relative;
}



.textPerfil{
    color: #545454;
    font-family: 'Epilogue', sans-serif;
    font-weight: ExtraLight 200; 
    font-size: 16px;
    line-height:22px;
} 

.textNome{
    color: #545454;
    font-family: 'Epilogue', sans-serif;
    font-weight: Light 300; 
    font-size: 19px;
    line-height:30px;
    margin-top: 4px;
    margin-bottom: 3px;
} 

.icone{
    margin: 4px;
    font-size: 30px;
    color: #545454;
    
}

.iconeLinkedin:hover{
    color: blue;
}

.iconeGit:hover{
    color: black;
}

footer{
    background-color: #54545439;
    opacity: .7;
    height: 100%;
    font-size: 22px;
    flex-direction: column;
}

hr{
    border: black solid 2px;
}

.imglogo{
    height: 400px;
    width: 400px;
    top: 128px;
    right: -88px;
}