<div class="container-fluid-center">
    <div class="row mt-6">
        <div class="col-md-2"></div>

        <div class="col-md-2 text-center"> 
            <img src="https://i.imgur.com/U3RkEef.png" >
            <p class="textNome">Gustavo dos Anjos</p>
            <p class='textPerfil'>Não gosta de criança e blá blá blá. Poucos anos de idades.</p>
            <i class="fa fa-github mr-2 icone iconeGit" aria-hidden="true"></i> 
            <i class="fa fa-linkedin-square icone iconeLinkedin" aria-hidden="true"></i> 
        </div>

        <div class="col-md-2 text-center"> 
            <img src="https://i.imgur.com/U3RkEef.png" >
            <p class="textNome">Gabriela Oliveira</p>
            <p class='textPerfil'>Jovem, paulista, ama doces e se descobrindo programadora front-end.</p>
            <a href="https://github.com/sougabioliveira"><i class="fa fa-github mr-2 icone iconeGit" aria-hidden="true"></i></a> 
            <a href="https://www.linkedin.com/in/gabriela-oliveira-06132a150/"><i class="fa fa-linkedin-square icone iconeLinkedin" aria-hidden="true"></i></a> 
        </div>

        <div class="col-md-2 text-center"> 
            <img src="https://i.imgur.com/U3RkEef.png" >
            <p class="textNome">Gustavo Acacio</p>
            <p class='textPerfil'>Não gosta de criança e blá blá blá. Poucos anos de idades.</p>
            <a href="https://github.com/GustavoAca"><i class="fa fa-github mr-2 icone iconeGit" aria-hidden="true"></i></a> 
            <a href="https://www.linkedin.com/in/gustavo-acacio-9876631a1/"><i class="fa fa-linkedin-square icone iconeLinkedin" aria-hidden="true"></i></a> 
        </div>

        <div class="col-md-2 text-center"> 
            <img src="https://i.imgur.com/U3RkEef.png" >
            <p class="textNome">Helga Andrade</p>
            <p class='textPerfil'>Não gosta de criança e blá blá blá. Poucos anos de idades.</p>
            <a href="https://github.com/Helga2405"><i class="fa fa-github mr-2 icone iconeGit" aria-hidden="true"></i></a> 
            <a href="https://www.linkedin.com/in/helga-andrade/"><i class="fa fa-linkedin-square icone iconeLinkedin" aria-hidden="true"></i></a>
        </div>

        <div class="col-md-2"></div>

        
    </div>

    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-2 text-center"> 
            <img src="https://i.imgur.com/U3RkEef.png" >
            <p class="textNome">Jhonatan Ferreira</p>
            <p class='textPerfil'>Mineiro apaixonado por pão de queijo, café e tecnologia.</p>
           <a href="https://github.com/jhonatanferreira94"><i class="fa fa-github mr-2 icone iconeGit" aria-hidden="true"></i></a>  
            <a href="https://www.linkedin.com/in/jhonatanferr/"><i class="fa fa-linkedin-square icone iconeLinkedin" aria-hidden="true"></i></a> 
        </div>

        <div class="col-md-2 text-center"> 
            <img src="https://i.imgur.com/U3RkEef.png" >
            <p class="textNome">Matheus</p>
            <p class='textPerfil'>Não gosta de criança e blá blá blá. Poucos anos de idades.</p>
            <a href=""><i class="fa fa-github mr-2 icone iconeGit" aria-hidden="true"></i></a> 
            <a href=""><i class="fa fa-linkedin-square icone iconeLinkedin" aria-hidden="true"></i></a> 
        </div>

        <div class="col-md-2 text-center"> 
            <img src="https://i.imgur.com/U3RkEef.png" >
            <p class="textNome">Mayara Cabral</p>
            <p class='textPerfil'>Não gosta de criança e blá blá blá. Poucos anos de idades.</p>
            <a href=""><i class="fa fa-github mr-2 icone iconeGit" aria-hidden="true"></i></a> 
            <a href=""><i class="fa fa-linkedin-square icone iconeLinkedin" aria-hidden="true"></i></a> 
        </div>

        
        <div class="col-md-2">
        <img class="imglogo"  src="https://i.imgur.com/pczSts3.jpg" title="source:imgur.com" > 
    </div>

    </div>

    <footer class="d-flex justify-content-center align-items-center">
        <div class="mb-0">
            <p class="justify-content-center m-3">Veja nosso repositório no GitHub <a class="iconeGit" href="https://github.com/enlaceorg"><i class="fa fa-github mr-2 icone iconeGit" aria-hidden="true"></i></a></p> 
            <hr class="bg bg-black">
        </div>
        
      

        <div class="mb-2">
          
            <p class="m-0">Feito com ♡ por <strong>Enlace</strong> </p>
            
        </div>
       
      
    </footer>

</div>





