<div class="container">
    <div class="row">
        <div class="col text-center">

            <img src="../../assets/placeholder.gif" width="250px" height="170px">
            <h5>Eduardo</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
            <a href="https://github.com/guttler-eduardo" target="_blank" class="iconGithub">
                <i class="fa-brands fa-github" aria-hidden="true"></i>
            </a>
            <a href="" target="_blank" class="iconLinkedin">
                <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
            </a>

            <img src="../../assets/placeholder.gif" width="250px" height="170px">
            <h5>Jhonatan</h5>
            <p>Mineiro apaixonado por pão de queijo, música, café e tecnologia.</p>
            <a href="https://github.com/jhonatanferreira94" target="_blank" class="iconGithub">
                <i class="fa-brands fa-github" aria-hidden="true"></i>
            </a>
            <a href="https://www.linkedin.com/in/jhonatanferr/" target="_blank" class="iconLinkedin">
                <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col text-center">

            <img src="../../assets/placeholder.gif" width="250px" height="170px">
            <h5>Gabriela</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
            <a href="https://github.com/sougabioliveira" target="_blank" class="iconGithub">
                <i class="fa-brands fa-github" aria-hidden="true"></i>
            </a>
            <a href="" target="_blank" class="iconLinkedin">
                <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
            </a>

            <img src="../../assets/placeholder.gif" width="250px" height="170px">
            <h5>Matheus</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
            <a href="https://github.com/mthsps" target="_blank" class="iconGithub">
                <i class="fa-brands fa-github" aria-hidden="true"></i>
            </a>
            <a href="" target="_blank" class="iconLinkedin">
                <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col text-center">
            <img src="../../assets/placeholder.gif" width="250px" height="170px">
            <h5>Gustavo</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
            <a href="https://github.com/GustavoAca" target="_blank" class="iconGithub">
                <i class="fa-brands fa-github" aria-hidden="true"></i>
            </a>
            <a href="" target="_blank" class="iconLinkedin">
                <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
            </a>

            <img src="../../assets/placeholder.gif" width="250px" height="170px">
            <h5>Mayara</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
            <a href="https://github.com/Mayarabnc" target="_blank" class="iconGithub">
                <i class="fa-brands fa-github" aria-hidden="true"></i>
            </a>
            <a href="" target="_blank" class="iconLinkedin">
                <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col text-center">
            <img src="../../assets/placeholder.gif" width="250px" height="170px">
            <h5>Helga</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
            <a href="https://github.com/Helga2405" target="_blank" class="iconGithub">
                <i class="fa-brands fa-github" aria-hidden="true"></i>
            </a>
            <a href="" target="_blank" class="iconLinkedin">
                <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>




