<div class="container">
    <div class="row">
        <div class="col text-center">

            <img src="../../assets/placeholder.gif" width="250px" height="170px">
            <h5>Eduardo</h5>
            <p>Não gosta de criança e blá blá blá. Poucos anos de idade.</p>
            <a href="https://github.com/guttler-eduardo" target="_blank" class="iconGithub">
                <i class="fa-brands fa-github" aria-hidden="true"></i>
            </a>
            <a href="" target="_blank" class="iconLinkedin">
                <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
            </a>

            <img src="../../assets/placeholder.gif" width="250px" height="170px">
            <h5>Jhonatan Ferreira</h5>
            <p>Não gosta de criança e blá blá blá. Poucos anos de idade.</p>
            <a href="https://github.com/jhonatanferreira94" target="_blank" class="iconGithub">
                <i class="fa-brands fa-github" aria-hidden="true"></i>
            </a>
            <a href="" target="_blank" class="iconLinkedin">
                <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col text-center">

            <img src="../../assets/placeholder.gif" width="250px" height="170px">
            <h5>Gabriela Oliveira</h5>
            <p>Não gosta de criança e blá blá blá. Poucos anos de idade.</p>
            <a href="https://github.com/sougabioliveira" target="_blank" class="iconGithub">
                <i class="fa-brands fa-github" aria-hidden="true"></i>
            </a>
            <a href="" target="_blank" class="iconLinkedin">
                <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
            </a>

            <img src="../../assets/placeholder.gif" width="250px" height="170px">
            <h5>Mayara</h5>
            <p>Não gosta de criança e blá blá blá. Poucos anos de idade.</p>
            <a href="https://github.com/Mayarabnc" target="_blank" class="iconGithub">
                <i class="fa-brands fa-github" aria-hidden="true"></i>
            </a>
            <a href="" target="_blank" class="iconLinkedin">
                <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col text-center">
            <img src="../../assets/placeholder.gif" width="250px" height="170px">
            <h5>Gustavo dos Anjos</h5>
            <p>Não gosta de criança e blá blá blá. Poucos anos de idade.</p>
            <a href="https://github.com/GustavoAca" target="_blank" class="iconGithub">
                <i class="fa-brands fa-github" aria-hidden="true"></i>
            </a>
            <a href="" target="_blank" class="iconLinkedin">
                <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
            </a>

            <img src="../../assets/placeholder.gif" width="250px" height="170px">
            <h5>Matheus</h5>
            <p>Não gosta de criança e blá blá blá. Poucos anos de idade.</p>
            <a href="https://github.com/mthsps" target="_blank" class="iconGithub">
                <i class="fa-brands fa-github" aria-hidden="true"></i>
            </a>
            <a href="" target="_blank" class="iconLinkedin">
                <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col text-center">
            <img src="../../assets/placeholder.gif" width="250px" height="170px">
            <h5 >Helga</h5>
            <p>Não gosta de criança e blá blá blá. Poucos anos de idade.</p>
            <a href="https://github.com/Helga2405" target="_blank" class="iconGithub">
                <i class="fa-brands fa-github" aria-hidden="true"></i>
            </a>
            <a href="" target="_blank" class="iconLinkedin">
                <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
            </a>
        </div>
    </div>
  
  
          <div class="col-md-2">
        <img class="imglogo"  src="https://i.imgur.com/pczSts3.jpg" title="source:imgur.com" > 
    </div>

    </div>

    <footer class="d-flex justify-content-center align-items-center">
        <div class="mb-0">
            <p class="justify-content-center m-3">Veja nosso repositório no GitHub <a class="iconeGit" href="https://github.com/enlaceorg"><i class="fa fa-github mr-2 icone iconeGit" aria-hidden="true"></i></a></p> 
            <hr class="bg bg-black">
        </div>
        
      

        <div class="mb-2">
          
            <p class="m-0">Feito com ♡ por <strong>Enlace</strong> </p>
            
        </div>
       
      
    </footer>
</div>


