<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-7 d-flex justify-content-center" style="margin-top: 100px;">
        <div class="card-deck">
  
            <div class="card">
              <img class="card-img-top" src="https://i.imgur.com/E3vIUvy.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Usuário</h5>
                <p class="card-text">Se alguém ama uma flor da qual só exista um exemplar em milhões e milhões de estrelas, isso basta para fazê-lo feliz quando as contempla. Ele pensa "Minha flor está lá, em algum lugar..." Mas se o carneiro come a flor, é, para ele, como se todas as estrelas se repentinamente se apagassem! E isto não tem importância?</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
              <div class="d-flex justify-content-center">
                <button type="submit" class="botaoCircular iconDentro"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                <button type="submit" class="botaoCircular iconDentro"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
              </div>
            </div>
  
            <div class="card">
              <img class="card-img-top" src="https://i.imgur.com/E3vIUvy.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Usuário</h5>
                <p class="card-text">Se alguém ama uma flor da qual só exista um exemplar em milhões e milhões de estrelas, isso basta para fazê-lo feliz quando as contempla. Ele pensa "Minha flor está lá, em algum lugar..." Mas se o carneiro come a flor, é, para ele, como se todas as estrelas se repentinamente se apagassem! E isto não tem importância?</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
              <div class="d-flex justify-content-center">
                <button type="submit" class="botaoCircular iconDentro"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                <button type="submit" class="botaoCircular iconDentro"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
              </div>
            </div>
  
            <div class="card">
              <img class="card-img-top" src="https://i.imgur.com/E3vIUvy.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Usuário</h5>
                <p class="card-text">Se alguém ama uma flor da qual só exista um exemplar em milhões e milhões de estrelas, isso basta para fazê-lo feliz quando as contempla. Ele pensa "Minha flor está lá, em algum lugar..." Mas se o carneiro come a flor, é, para ele, como se todas as estrelas se repentinamente se apagassem! E isto não tem importância?</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
              <div class="d-flex justify-content-center">
                <button type="submit" class="botaoCircular iconDentro"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                <button type="submit" class="botaoCircular iconDentro"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
              </div>
            </div>
  
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>  
</body>
