    <div>
      <a routerLink="/inicio"><img src="https://i.imgur.com/GDJkv6M.jpg" class="ml-5 mt-4" title="source: imgur.com"
          width="50px" />
        <p class="ml-5 corona">voltar</p>
      </a>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7 d-flex justify-content-center">

          <form>
            <label style="margin-left: 250px; margin-top: 1px;">
              <h1 class="h1n1"> Bem-<span style="color: #FFC732; ">Vinde</span></h1>
            </label>
            <div>
              <label class="fonte" style="margin-left: 150px;">
                <h2>Faça seu login para acessar o conteúdo da plataforma. </h2>
              </label>
            </div>

            <div class="form-row iconDentro tamanho">
              <div class="form-group col-4" style="margin-left: 120px; padding-right: 0;">
                <label for="inputEmail4">E-mail</label>
                <input type="email" class="form-control barraFundo" id="inputEmail4" />
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
              </div>
            </div>
            <div class="form-group col-4 iconDentro tamanho"
              style="margin-left: 120px; padding-left: 0; padding-right: 0;">
              <label for="inputPassword4">Senha</label>
              <input type="password" class="form-control barraFundo" id="inputPassword4">
              <i class="fa fa-lock" style="top: 51px;" aria-hidden="true"></i>


              <button type="submit" class="btn btn-warning botaoRedondo mb-4 botao corBotao"
                style="width: 100%;font-size: 25px;">Entrar</button>

              <hr size="100" he width="100%">

              <p style="text-align: center; margin-bottom: 5px; color: rgb(85, 85, 85);">
                Ainda não tem uma conta?
              </p>
              <div style="text-align: center; margin-bottom: 160px;">
                <a routerLink="/cadastrar">cadastre-se</a>
              </div>
            </div>
          </form>
        </div>

        <div class="col-md-5 p-0">
          <header>
            <a href="https://imgur.com/vR14SHC"><img src="https://i.imgur.com/vR14SHC.gif"
                title="source: imgur.com" /></a>
          </header>
        </div>
    </div>
</div>


    <div class="fundoB m-0"></div>
