.botao{
  flex-direction: column;
  position: fixed;
  left: 63em;
  top: 400px;
}

.botao p {
  font-family: 'Epilogue', sans-serif;
}

.publicar {
  background-color:#f16a4a;
  color: #fff;
}

.btn-personalizado{
  background-color:#f16a4a;
  width: 50px;
  height: 50px;
  z-index: 1;
}

p{
  opacity: 1;
}

.seleciona {
  opacity: 1;
}



i {
  color: white;
}

