.botao{
  position: fixed;
  left: 60em;
  top: 340px;
}

.btn-personalizado{
  background-color:#f16a4a ;
  width: 50px;
  height: 50px;
  z-index: 1;
}

p{
  opacity: 1;
}

.seleciona {
  opacity: 1;
}

i {
  color: white;
}
