.fs-54 {
  font-size: 54px;
}

.ft{
  font-family: 'Epilogue', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.btn-cadastrar{
    background-color: #215DF2 ;
    color: white;
    border-radius: 50px;
    outline: none;
}

.btn-cadastrar:hover{
    background-color: white;
    color:#215DF2;
    
}



.botaoborda{
    border-color: #215DF2;
}

.btn-apagar{
    background-color: #F16a4a;
    color: white;
    border-color: #F16a4a;
    border-radius: 50px;
    outline: none;
}

.btn-apagar:hover{
    background-color: white;
    color:#F16a4a;
    
}

.btn-simApagar{
  background-color: #DC3545 !important;
  color: white !important;
  border-color: #DC3545 !important;
  outline: none;
}

.btn-simApagar:hover{
  background-color: #c62e3d !important;
  color: white !important;
  border-color: #c62e3d !important;
}

.azulTema{
    color:#215DF2;
}
.fundo{
  background-image: url(https://i.imgur.com/1fQpY8S.png);  
  position: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
} 
