.fs-54 {
  font-size: 54px;
}

.btn-cadastrar{
    background-color: #215DF2 ;
    color: white;
}

.btn-cadastrar:hover{
    background-color: white;
    color:#215DF2;
    
}



.botaoborda{
    border-color: #215DF2;
}

.btn-apagar{
    background-color: #DC3545 ;
    color: white;
    border-color: #DC3545;
}

.btn-apagar:hover{
    background-color: white;
    color:#DC3545;
    
}
.azulTema{
    color:#215DF2;
}
.fundo{
  background-image: url(
https://i.imgur.com/D234Kz6.jpg
);  
  background-repeat: no-repeat;
  background-size: 100%;
} 