<div id="logo-background" class="container-fluid">
    <div class="row d-flex align-items-center">
        <div id="gif-como-funciona" class="col-md-5 img-fluid">
        </div>
        <div id="texto-como-funciona" class="mt-12 col-md-7">
            <h4>
                Entre os 17 de
                <a href="https://brasil.un.org/pt-br/sdgs">
                    Desenvolvimento Sustentável da Organização das Nações Unidas (ONU)
                </a>,
                o primeiro objetivo é a “Erradicação da Pobreza”, cujo a meta número um é:
            </h4>
            <br>
            <h4>
                <blockquote><cite><q>
                            Acabar com a pobreza em todas as suas formas, em todos os lugares
                </q></cite></blockquote>
            </h4>
            <h4>
                Tentar contribuir para atingir esse objetivo através da tecnologia
                apresenta uma complexidade ainda maior, dado que pessoas em extrema pobreza muitas vezes não têm
                acesso a recursos tecnológicos, tais como celulares e internet.
            </h4>
            <br>
            <h4>
                Assim, a Enlace oferece uma plataforma para conectar ONGS e pessoas colaboradoras, 
                para levar às pessoas em situação de pobreza, recursos que as ajudem a superar essa situação.
                A rede social é um espaço para divulgar ações, solicitar doações e colaborações, e encontrar instituições confiáveis. 
            </h4>
        </div>
    </div>
</div>