#texto-como-funciona, h4 {
    font-size: 4vmin !important;
    margin: auto;
    padding: auto;
    font-family: 'Epilogue', sans-serif;
    color: #545454;
    text-align: center;
    line-height: normal;
    margin-bottom: 5;
}

#gif-como-funciona {
    background-image: url(https://imgur.com/wOOGzQ3.gif);
    background-size: contain;
    max-height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    margin: auto;
}

a {
    color: #f36c4a;
}
