.fundo {

  background-image: url(
https://i.imgur.com/miHbfgN.jpg
);
      background-repeat: no-repeat;
      background-size: 100%;
      background-attachment: fixed;
      background-color: #000;
}

.barra-lateral{
  background-color: gray;
}

.logo-lateral {
  opacity: .5;
  position: fixed;
  z-index: 99;
  top:140px;
  right:-16px;

}

.margin-0{
  margin: 0;
}

.bg-fundo{
  background-color: #dddddd;
}

.fz-15 {
  font-size: 15px;
  margin: 0;
}


@media screen and (max-width:760px) {
  .imagem-lateral{
      width: auto;
  }
}


/* BOTAO */

.botao{
  flex-direction: column;
  position: fixed;
  left: 60em;
  top: 400px;
}

.btn-personalizado{
  background-color:#f16a4a ;
  width: 50px;
  height: 50px;
  z-index: 1;
}

p{
  opacity: 1;
}

.seleciona {
  opacity: 1;
}



i {
  color: white;
}


