.barra-lateral{
  background-color: gray;
}

.logo-lateral {
  opacity: .5;
  position: fixed;
  z-index: 99;
  top:140px;
  right:-16px;

}

.margin-0{
  margin: 0;
}

.bg-fundo{
  background-color: #dddddd;
}

.fz-15 {
  font-size: 15px;
  margin: 0;
}


@media screen and (max-width:760px) {
  .imagem-lateral{
      width: auto;
  }
}

