<div class="container-full">
<section id="inicio">
    <div id="logo-background" class="container-fluid">
        <app-navbar></app-navbar>
        <div class="row d-flex align-items-center">
            <div class="col-md-7">
                <h1>Uma coleção de <span>nós</span> que não se cruzam, mas que podem ser <span>ligados</span></h1>
            </div>
            <div id="lado-esquerdo" class="mt-5 col-md-5 img-fluid">
            </div>
        </div>
    </div>
</section>
<section id="sobre-nos">
    <app-sobre-nos></app-sobre-nos>
</section>
<section id="como-funciona"> 
    <app-como-funciona></app-como-funciona>
</section>
<section id="contato"> 
    <app-contato></app-contato>
</section>
</div>