* {
    margin: 0;
    padding: 0;
}

body{
    width:100%;
    overflow-x:hidden !important;
    overflow-y:hidden !important;
}

.container-fluid {
    height: 100vh;
}

.container-full {
    position: relative;
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

section { 
    height: 100vh;
    display: flex;
    scroll-snap-align: start;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#sobre-nos {
    background-color: #f36c4a;
}


#contato {
    background-color: #4a77f3;
}

h1 {
    font-size: 10vmin;
    font-family: 'Epilogue', sans-serif;
    color: #545454;
    font-weight: bolder;
    text-align: center;
    line-height: normal;
    margin-top: 10%;
    margin-left: 6%;
    margin-right: 1%;
}


span {
    color: #f36c4a;
}

#img-principal-inicio {
   margin: auto;
}

#lado-esquerdo {
    background-image: url(https://i.imgur.com/SoZrNSR.gif);
    background-size: contain;
    max-height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    display: flex;
}

#logo-background {
    background-image: url(https://i.im.ge/2022/05/31/r8lhKY.png);
    background-repeat: no-repeat;
    background-position-x: -15%;
    background-position-y: 150%;
    background-size: 40%;
    height: 100vh;
}
