<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@100;500;700&display=swap" rel="stylesheet">
</head>

<div id="logo-background" class="container-fluid">
    <div  class="row d-flex align-items-center">
        <div  class="col-md-7">
            <h1>Uma coleção de <span>nós</span> que não se cruzam, mas que podem ser <span>ligados</span></h1>
        </div>
        <div id="lado-esquerdo" class="mt-5 col-md-5 img-fluid">
        </div>
    </div>
</div>